.title {
  font-size: 3rem;
  font-weight: 500;
}

.subtitle {
  margin-top: 2%;
  font-size: 1rem;
  font-weight: 400;
}

.subtitle2 {
  font-size: 0.9rem;
  font-weight: 500;
  color: grey;
}

.heading2 {
  font-style: Lora;
  font-size: 2.5rem;
  font-weight: 500;
}

p {
  font-style: Lora;
  font-size: 1.2rem;
}

article {
  margin-top: 2rem;
}

thead {
  font-weight: 600;
}

.tHeader {
  margin-bottom: 1.4rem;
}

.tHeader span {
  margin-right: 1.5rem;
  font-weight: 500;
}

.table-hover tbody tr:hover {
  background-color: rgb(255, 247, 238); /* Colore di sfondo durante l'hover */
  transition: transparent 0.5s ease; /* Transizione dello sfondo */
}

.table-hover {
  --bs-table-hover-bg: transparent;
}

.trTitle {
  font-size: 2rem;
  font-weight: 700;
}

.trInfo {
  font-size: 1rem;
  color: grey;
}

.buttonDiv {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.viewButton {
  width: 100px;
  color: red;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  margin-right: 1rem;
}

.editButton {
  width: 90px;
  color: #2edba1;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  margin-right: 1rem;
}

.deleteButton {
  width: 150px;
  color: #f63113;
  background-color: transparent;
  border-radius: 50px;
  border: none;
}

.viewButton:hover {
  color: white;
  background-color: #fa7f21;
  border-color: transparent;
  transition: color 0.4s;
}

.deleteButton:hover {
  color: white;
  background-color: #f63113;
  transition: color 0.4s;
}

.editButton:hover {
  color: white;
  background-color: #2edba1;
  transition: color 0.4s;
}

.personalizedNavbar{
  padding-left: 5%;
  padding-right: 5%;
}

.personalizedNavbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: orange; /* Colore della striscia */
}

.icon-size {
  font-size: 1.7rem; /* Dimensione desiderata dell'immagine */
}

.footerWebPage {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.footerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: white;
  color: rgb(240, 106, 106);
  border: 2px solid orange;
  border-radius: 20px;
  margin-right: 1rem;
}

.footerButton:hover {
  border-color: bisque;
  color: orangered;
  background-color: bisque;
  transition: border-color 0.3s, color 0.4s;
}

.footerDelete {
  justify-content: center;
  align-items: center;

  width: max-content;
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 20px;
}

.footerDelete:hover {
  border-color: red;
  color: white;
  background-color: red;
  transition: border-color 0.3s, color 0.4s;
}

.footerEdit {
  justify-content: center;
  align-items: center;
  width: 120px;
  color: cornflowerblue;
  background-color: white;
  border: 2px solid cornflowerblue;
  border-radius: 20px;
  margin-right: 1rem;
}

.footerEdit:hover {
  border-color: #2edba1;
  color: white;
  background-color: #2edba1;
  transition: border-color 0.3s, color 0.3s;
}

.editBlogNameButton {
  align-self: center;
  color: #2edba1;
  background-color: whitesmoke;
  border-color: #2edba1;
  border-radius: 30px;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  margin-left: -1.5rem;
}

.editBlogNameButton:hover {
  border-color: #2edba1;
  color: white;
  background-color: #2edba1;
  transition: border-color 0.3s, color 0.3s;
}

.backOfficeButton {
  width: 150px;
  background-color: white;
  color: rgb(240, 106, 106);
  border: 2px solid orange;
  border-radius: 50px;
  margin-right: 1rem;
}

.backOfficeButton:hover {
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 20px;
}

.loginButtons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.loginButton {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 50px;
  width: 120px;
  margin-right: 1rem;
}

.newPageButton {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 50px;
  width: max-content;
  margin-right: 1rem;
}

.newPageButton:hover {
  background-color: cornflowerblue;
  color: white;
  border: none;
}


.upDownButtons {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 20px;
  align-items: center;
  transform: scale(0.8);
  margin-bottom: -0.5rem;
}

.upDownButtons:hover {
  background-color: cornflowerblue;
  color: white;
  border: 2px solid cornflowerblue;
}

.addElementsDiv {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: flex-start;
}

.addElementsButton {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  color: cornflowerblue;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  width: max-content;
}

.addElementsButton:hover {
  background-color: cornflowerblue;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.image-wrapper {
  height: 100%; /* Imposta l'altezza del div image-wrapper al 100% del contenitore genitore */
  display: flex;
  flex-direction: column;
}

.figureBlock {
  flex: 1; /* Il componente Figure occupa tutto lo spazio rimanente all'interno del div image-wrapper */
  margin-bottom: 5px; /* Margine inferiore per separare il div checkboxWrapper */
  margin-right: 1rem;
}

.checkBoxWrapper {
  bottom: 0;
}

.modal-header {
  background-color: whitesmoke;
}

.modal-header > button {
  background-color: #f63113;
}

.modal-footer {
  background-color: whitesmoke;
}

.saveButtonNav {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 50px;
  margin-right: 0.5rem;
  margin-left: 10%;
}

.saveButtonNav:hover {
  background-color: cornflowerblue;
  color: white;
  border: 2px solid cornflowerblue;
}

.cancelButtonNav {
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 50px;
  width: 35%;
}

.cancelButtonNav:hover {
  background-color: red;
  color: white;
  border: 2px solid red;
}

.logoutButton {
  font-weight: 600;
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 35px;
  transform: scale(0.7);
}

.logoutButton:hover {
  background-color: red;
  color: white;
  border: 2px solid red;
}

#myModal .modal-content {
  background-color: #f63113;
  font-weight: 500;
}

#myModal .modal-header {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
}

#myModal .modal-body {
  padding-right: 36px;
  padding-top: 2%;
  padding-bottom: 26px;
}

#myModal .modal-header > button {
  background-color: transparent;
}

.optionsButtons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

@media screen and (max-width: 400px) {
  #headerWebPages{
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .optionsButtons {
    margin-left: -33%; /* Imposta il margin-left a -20% per schermi più grandi */
    grid-row: 1;
    margin-bottom: -35%;
    flex-direction: column;
  }
}

/* Media query per schermi più grandi di 1400px */
@media (min-width: 1400px) {
  .optionsButtons {
    margin-left: -45%; /* Imposta il margin-left a -20% per schermi più grandi */
    grid-row: 1;
    margin-bottom: -36%;
    flex-direction: column;
  }
}

.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  color: #000;
}

.divider-line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
}

.divider-text {
  margin: 0 1rem;
  font-weight: 400;
}